<section id="courses" class="courses">
  <div class="container">
    <div class="courses-wrapper">
      <h2 class="courses-title medium-title">
        Our <span class="text-decoration medium-title">Courses</span>
      </h2>
      <p class="courses-text">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <ol class="courses-list">
      <li class="courses-item">
        <div class="courses-link-wrapper">
          <a href="#signup" class="courses-link">
            <svg class="svg-icon" width="20" height="20">
              <use
                href="./img/icons/icons.svg#icon-arrow-narrow-up-right"
              ></use>
            </svg>
          </a>
        </div>
        <h3 class="courses-title-item slim-title">Basics of photography</h3>
        <p class="courses-text-item">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </li>
      <li class="courses-item">
        <div class="courses-link-wrapper">
          <a href="#signup" class="courses-link">
            <svg class="svg-icon" width="20" height="20">
              <use
                href="./img/icons/icons.svg#icon-arrow-narrow-up-right"
              ></use>
            </svg>
          </a>
        </div>
        <h3 class="courses-title-item slim-title">Landscape photography</h3>
        <p class="courses-text-item">
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
      </li>
      <li class="courses-item">
        <div class="courses-link-wrapper">
          <a href="#signup" class="courses-link">
            <svg class="svg-icon" width="20" height="20">
              <use
                href="./img/icons/icons.svg#icon-arrow-narrow-up-right"
              ></use>
            </svg>
          </a>
        </div>
        <h3 class="courses-title-item slim-title">
          Portrait<br />
          photography
        </h3>
        <p class="courses-text-item">
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
      </li>
    </ol>
  </div>
</section>
