<footer class="footer section-mt">
  <div class="container foot">
    <div class="footer-interaction">
      <div class="footer-address">
        <a class="foot-logo" href="./index.html">
          <svg class="foot-logo-icon" width="127" height="20">
            <use href="./img/icons/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <address class="footer-contacts" id="footer-contacts">
          <ul class="foot-contacts">
            <li class="foot-contacts-elem">
              <a class="foot-cont-tel footer-a" href="tel:+380665438912">
                UK: +38 066 543 8912
              </a>
            </li>
            <li>
              <p class="foot-cont-adr">Ukraine, Kyiv</p>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-links-navi">
        <ul class="foot-link-list">
          <li class="foot-link-item">
            <a
              class="foot-link footer-a"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              Instagram
            </a>
          </li>
          <li class="foot-link-item">
            <a
              class="foot-link footer-a"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              Facebook
            </a>
          </li>
          <li class="foot-link-item">
            <a
              class="foot-link footer-a"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              Youtube
            </a>
          </li>
        </ul>
        <ul class="foot-navi-list">
          <li class="foot-navi-item">
            <a class="foot-navi footer-a" href="#about"> About us </a>
          </li>
          <li class="foot-navi-item">
            <a class="foot-navi footer-a" href="#courses"> Our courses </a>
          </li>
          <li class="foot-navi-item">
            <a class="foot-navi footer-a" href="#mentors"> Our mentors </a>
          </li>
          <li class="foot-navi-item">
            <a class="foot-navi footer-a" href="#reviews"> Reviews </a>
          </li>
          <li class="foot-navi-item">
            <a class="foot-navi footer-a" href="#footer-contacts"> Contacts </a>
          </li>
        </ul>
      </div>
      <form class="footer-form" name="footer-subscribe">
        <label class="footer-label" for="email">
          <input
            class="footer-input"
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            pattern="^\S+@\S+\.\S+$"
            required
          />
        </label>
        <button class="footer-btn footer-a" type="submit">Go</button>
      </form>
    </div>
    <div class="footer-safety">
      <ul class="foot-privacy-list">
        <li class="foot-privacy-item">
          <a class="foot-privacy-polisy footer-a" id="privacy-polisy" href="">
            Privacy Policy
          </a>
        </li>
        <li class="foot-privacy-item">
          <a class="foot-public-offer footer-a" href="">
            Public Offering Agreement
          </a>
        </li>
      </ul>
      <p class="foot-copyright">
        2023 Focus Frame<br />
        <a class="foot-copyright-link footer-a" href="">
          &copy;All rights reserved
        </a>
      </p>
    </div>
  </div>
</footer>
