<footer class="footer">
  <div class="container foot">
    <div class="footer-interaction">
      <div class="footer-address">
        <a class="foot-logo" href="./index.html">
          <svg class="foot-logo-icon">
            <use href="./img/icons/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <address class="footer-contacts" id="footer-contacts">
          <ul class="foot-contacts">
            <li>
              <a class="foot-cont-tel" href="tel:+380665438912">
                UK: +38 066 543 8912
              </a>
            </li>
            <li>
              <p class="foot-cont-adr">Ukraine, Kyiv</p>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-links-navi">
        <ul class="foot-link-list">
          <li class="foot-link-item">
            <a
              class="foot-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              Instagram
            </a>
          </li>
          <li class="foot-link-item">
            <a
              class="foot-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              Facebook
            </a>
          </li>
          <li class="foot-link-item">
            <a
              class="foot-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              Youtube
            </a>
          </li>
        </ul>
        <ul class="foot-navi-list">
          <li class="foot-navi-item">
            <a class="foot-navi" href="#about"> About us </a>
          </li>
          <li class="foot-navi-item">
            <a class="foot-navi" href="#courses"> Our courses </a>
          </li>
          <li class="foot-navi-item">
            <a class="foot-navi" href="#mentors"> Our mentors </a>
          </li>
          <li class="foot-navi-item">
            <a class="foot-navi" href="#reviews"> Reviews </a>
          </li>
          <li class="foot-navi-item">
            <a class="foot-navi" href="#footer-contacts"> Contacts </a>
          </li>
        </ul>
      </div>
      <form class="footer-form" name="footer-subscribe">
        <label class="footer-label">
          <input
            class="footer-input"
            type="email"
            name="email"
            placeholder="Enter your email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            required
          />
        </label>
        <button class="footer-btn" type="submit">Go</button>
      </form>
    </div>
    <div class="footer-safety">
      <p class="foot-privacy">
        Privacy Policy<br />
        Public Offering Agreement
      </p>
      <p class="foot-copyright">
        2023 Focus Frame<br />
        &copy;All rights reserved
      </p>
    </div>
  </div>
</footer>
