<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html">
        <svg class="header-logo-icon" width="127" height="20">
          <use href="./img/icons/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a href="#about" class="header-menu-link">About us</a>
        </li>
        <li class="header-menu-item">
          <a href="#courses" class="header-menu-link">Our courses</a>
        </li>
        <li class="header-menu-item">
          <a href="#mentors" class="header-menu-link">Our mentors</a>
        </li>
        <li class="header-menu-item">
          <a href="#reviews" class="header-menu-link">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a href="#footer-contacts" class="header-menu-link">contacts</a>
        </li>
      </ul>
      <a class="header-logo-signup" href="#signup">
        <svg class="header-logo-icon" width="16" height="16">
          <use href="./img/icons/icons.svg#icon-bi-camera-fill"></use>
        </svg>
      </a>
      <button class="header-btn" type="button" aria-label="Open menu button">
        <svg class="header-btn-icon" width="32" height="22">
          <use href="./img/icons/icons.svg#icon-nav"></use>
        </svg>
      </button>
    </nav>
    <a class="signup-btn" href="#signup">Sign up</a>
  </div>
</header>

<!-- Backdrop + Mobile menu -->

<div class="backdrop">
  <div class="mobile-menu">
    <button class="menu-btn" type="button">
      <svg class="menu-btn-icon" width="32" height="32">
        <use href="./img/icons/icons.svg#icon-x"></use>
      </svg>
    </button>
    <ul class="mobile-menu-nav">
      <li class="mobile-menu-item">
        <a href="#about" class="mobile-menu-link active">About us</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#courses" class="mobile-menu-link">Our courses</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#mentors" class="mobile-menu-link">Our mentors</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#reviews" class="mobile-menu-link">Reviews</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#footer-contacts" class="mobile-menu-link">contacts</a>
      </li>
    </ul>
  </div>
</div>
