<section class="hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero-content">
        <h1 class="bold-title hero-title">
          Discover the magic of
          <span class="hero-title-selection text-decoration-italic"
            >photography</span
          >
          in our school
        </h1>
        <p class="hero-text">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>
        <div class="hero-block">
          <div class="hero-users">
            <ul class="hero-users-list">
              <li class="hero-users-item">
                <picture>
                  <!-- Mobile -->
                  <source
                    type="image/webp"
                    media="(max-width: 767.98px)"
                    srcset="
                      ./img/hero/students/girl1_mobile@1x.webp 1x,
                      ./img/hero/students/girl1_mobile@2x.webp 2x
                    "
                    width="44"
                    height="44"
                  />
                  <source
                    type="image/png"
                    media="(max-width: 767.98px)"
                    srcset="
                      ./img/hero/students/girl1_mobile@1x.png 1x,
                      ./img/hero/students/girl1_mobile@2x.png 2x
                    "
                    width="44"
                    height="44"
                  />
                  <!-- Tablet, Desktop, Big Desktop -->
                  <source
                    type="image/webp"
                    media="(min-width: 768px)"
                    srcset="
                      ./img/hero/students/girl1_other@1x.webp 1x,
                      ./img/hero/students/girl1_other@2x.webp 2x
                    "
                    width="54"
                    height="54"
                  />
                  <source
                    type="image/png"
                    media="(min-width: 768px)"
                    srcset="
                      ./img/hero/students/girl1_other@1x.png 1x,
                      ./img/hero/students/girl1_other@2x.png 2x
                    "
                    width="54"
                    height="54"
                  />
                  <img
                    class="hero-user-img"
                    src="./img/hero/students/girl1_mobile@1x.png"
                    alt="student girl"
                    width="54"
                    height="54"
                    loading="lazy"
                  />
                </picture>
              </li>
              <li class="hero-users-item">
                <picture>
                  <!-- Mobile -->
                  <source
                    type="image/webp"
                    media="(max-width: 767.98px)"
                    srcset="
                      ./img/hero/students/boy_mobile@1x.webp 1x,
                      ./img/hero/students/boy_mobile@2x.webp 2x
                    "
                    width="44"
                    height="44"
                  />
                  <source
                    type="image/png"
                    media="(max-width: 767.98px)"
                    srcset="
                      ./img/hero/students/boy_mobile@1x.png 1x,
                      ./img/hero/students/boy_mobile@2x.png 2x
                    "
                    width="44"
                    height="44"
                  />
                  <!-- Tablet, Desktop, Big Desktop -->
                  <source
                    type="image/webp"
                    media="(min-width: 768px)"
                    srcset="
                      ./img/hero/students/boy_other@1x.webp 1x,
                      ./img/hero/students/boy_other@2x.webp 2x
                    "
                    width="54"
                    height="54"
                  />
                  <source
                    type="image/png"
                    media="(min-width: 768px)"
                    srcset="
                      ./img/hero/students/boy_other@1x.png 1x,
                      ./img/hero/students/boy_other@2x.png 2x
                    "
                    width="54"
                    height="54"
                  />
                  <img
                    class="hero-user-img"
                    src="./img/hero/students/boy_mobile@1x.png"
                    alt="student boy"
                    width="54"
                    height="54"
                    loading="lazy"
                  />
                </picture>
              </li>
              <li class="hero-users-item">
                <picture>
                  <!-- Mobile -->
                  <source
                    type="image/webp"
                    media="(max-width: 767.98px)"
                    srcset="
                      ./img/hero/students/girl_mobile@1x.webp 1x,
                      ./img/hero/students/girl_mobile@2x.webp 2x
                    "
                    width="44"
                    height="44"
                  />
                  <source
                    type="image/png"
                    media="(max-width: 767.98px)"
                    srcset="
                      ./img/hero/students/girl_mobile@1x.png 1x,
                      ./img/hero/students/girl_mobile@2x.png 2x
                    "
                    width="44"
                    height="44"
                  />

                  <!-- Tablet, Desktop, Big Desktop -->
                  <source
                    type="image/webp"
                    media="(min-width: 768px)"
                    srcset="
                      ./img/hero/students/girl_other@1x.webp 1x,
                      ./img/hero/students/girl_other@2x.webp 2x
                    "
                    width="54"
                    height="54"
                  />
                  <source
                    type="image/png"
                    media="(min-width: 768px)"
                    srcset="
                      ./img/hero/students/girl_other@1x.png 1x,
                      ./img/hero/students/girl_other@2x.png 2x
                    "
                    width="54"
                    height="54"
                  />

                  <img
                    class="hero-user-img"
                    src="./img/hero/students/girl_mobile@1x.png"
                    alt="student girl"
                    width="54"
                    height="54"
                    loading="lazy"
                  />
                </picture>
              </li>
            </ul>
            <a href="#reviews" class="hero-user-link"
              >Our happy students
              <svg class="hero-user-icon" width="18" height="9">
                <use href="./img/icons/icons.svg#icon-arrow-2-stroke"></use>
              </svg>
            </a>
          </div>
          <div class="hero-reviews">
            <div class="hero-icon-wrapper">
              <svg class="hero-reviews-icon" width="20" height="20">
                <use href="./img/icons/icons.svg#icon-star"></use>
              </svg>
            </div>
            <div class="hero-rewtext-wrapper">
              <p class="hero-reviews-text">Reviews</p>
              <p class="hero-reviews-bold">+1500</p>
            </div>
          </div>
        </div>
      </div>
      <picture>
        <!--Mobile-->
        <source
          type="image/webp"
          media="(max-width: 767.98px)"
          srcset="
            ./img/hero/man/man_mobile@1x.webp 1x,
            ./img/hero/man/man_mobile@2x.webp 2x
          "
          width="259"
          height="314"
        />
        <source
          type="image/png"
          media="(max-width: 767.98px)"
          srcset="
            ./img/hero/man/man_mobile@1x.png 1x,
            ./img/hero/man/man_mobile@2x.png 2x
          "
          width="259"
          height="314"
        />
        <!--Tablet-->
        <source
          type="image/webp"
          media="(min-width: 768px)"
          srcset="
            ./img/hero/man/man_tablet@1x.webp 1x,
            ./img/hero/man/man_tablet@2x.webp 2x
          "
          width="393"
          height="434"
        />
        <source
          type="image/png"
          media="(min-width: 768px)"
          srcset="
            ./img/hero/man/man_tablet@1x.png 1x,
            ./img/hero/man/man_tablet@2x.png 2x
          "
          width="393"
          height="434"
        />
        <!--desctop-->
        <source
          type="image/webp"
          media="(min-width: 1280px)"
          srcset="
            ./img/hero/man/man_desctop@1x.webp 1x,
            ./img/hero/man/man_desctop@2x.webp 2x
          "
          width="397"
          height="520"
        />
        <source
          type="image/png"
          media="(min-width: 1280px)"
          srcset="
            ./img/hero/man/man_desctop@1x.png 1x,
            ./img/hero/man/man_desctop@2x.png 2x
          "
          width="397"
          height="520"
        />
        <img
          class="hero-img"
          src="./img/hero/man/man_mobile@1x.png"
          alt="Man"
          width="397"
          height="520"
        />
      </picture>
    </div>
  </div>
</section>
