<section id="mentors" class="section-mt">
  <div class="container">
    <h2 class="mentors-title medium-title">
      Our <span class="mentors-title-two text-decoration">Mentors</span>
    </h2>
    <ul class="mentors-list">
      <li class="mentors-list-items">
        <img
          class="mentors-img"
          srcset="
            ./img/mentors/girl1_mentor@1x.png 1x,
            ./img/mentors/girl1_mentor@2x.png 2x
          "
          src="./img/mentors/girl1_mentor@1x.png"
          alt="Emilia Smith"
          width="180"
          loading="lazy"
        />
        <h3 class="mentors-item-h slim-title">Emilia Smithf</h3>
        <p class="mentors-item-p">1.5 years of experience</p>
      </li>
      <li class="mentors-list-items">
        <div>
          <img
            class="mentors-img"
            srcset="
              ./img/mentors/boy1_mentor@1x.png 1x,
              ./img/mentors/boy1_mentor@2x.png 2x
            "
            src="./img/mentors/boy1_mentor@1x.png"
            alt="Alex Lebedev"
            width="180"
            loading="lazy"
          />
          <h3 class="mentors-item-h slim-title">Alex Lebedev</h3>
          <p class="mentors-item-p">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-items">
        <div>
          <img
            class="mentors-img"
            srcset="
              ./img/mentors/girl2_mentor@1x.png 1x,
              ./img/mentors/girl2_mentor@2x.png 2x
            "
            src="./img/mentors/girl2_mentor@1x.png"
            alt="Mia Dubrovska"
            width="180"
            loading="lazy"
          />
          <h3 class="mentors-item-h">Mia Dubrovska</h3>
          <p class="mentors-item-p">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-items">
        <div>
          <img
            class="mentors-img"
            srcset="
              ./img/mentors/boy2_mentor@1x.png 1x,
              ./img/mentors/boy2_mentor@2x.png 2x
            "
            src="./img/mentors/boy2_mentor@1x.png"
            alt="Eliot Kovalev"
            width="180"
            loading="lazy"
          />
          <h3 class="mentors-item-h slim-title">Eliot Kovalev</h3>
          <p class="mentors-item-p">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
