<section>
  <h2>Our <span>Mentors</span></h2>
  <ul>
    <li>
      <img
        srcset="
          src/img/mentors/girl1_mentor@1x.png 1x,
          src/img/mentors/girl1_mentor@2x.png 2x
        "
        src="src/img/mentors/girl1_mentor@1x.png"
        alt="Emilia Smith"
        width="180"
      />
      <h3>Emilia Smithf</h3>
      <p>1.5 years of experience</p>
    </li>
    <li>
      <img
        srcset="
          src/img/mentors/boy1_mentor@1x.png 1x,
          src/img/mentors/boy1_mentor@2x.png 2x
        "
        src="src/img/mentors/boy1_mentor@1x.png"
        alt="Alex Lebedev"
        width="180"
      />
      <h3>Alex Lebedev</h3>
      <p>3.5 years of experience</p>
    </li>
    <li>
      <img
        srcset="
          src/img/mentors/girl2_mentor@1x.png 1x,
          src/img/mentors/girl2_mentor@2x.png 2x
        "
        src="src/img/mentors/girl2_mentor@1x.png"
        alt="Mia Dubrovska"
        width="180"
      />
      <h3>Mia Dubrovska</h3>
      <p>2.0 years of experience</p>
    </li>
    <li>
      <img
        srcset="
          src/img/mentors/boy2_mentor@1x.png 1x,
          src/img/mentors/boy2_mentor@2x.png 2x
        "
        src="src/img/mentors/boy2_mentor@1x.png"
        alt="Eliot Kovalev"
        width="180"
      />
      <h3>Eliot Kovalev</h3>
      <p>4.0 years of experience</p>
    </li>
  </ul>
</section>
