<section>
  <h2 class="mentors-title">
    Our <span class="mentors-title-two">Mentors</span>
  </h2>
  <ul class="mentors-list">
    <li class="mentors-list-items">
      <img
        class="mentors-img"
        srcset="
          src/img/mentors/girl1_mentor@1x.png 1x,
          src/img/mentors/girl1_mentor@2x.png 2x
        "
        src="src/img/mentors/girl1_mentor@1x.png"
        alt="Emilia Smith"
        width="180"
      />
      <h3 class="mentors-item-h">Emilia Smithf</h3>
      <p class="mentors-item-p">1.5 years of experience</p>
    </li>
    <li class="mentors-list-items">
      <img
        class="mentors-img"
        srcset="
          src/img/mentors/boy1_mentor@1x.png 1x,
          src/img/mentors/boy1_mentor@2x.png 2x
        "
        src="src/img/mentors/boy1_mentor@1x.png"
        alt="Alex Lebedev"
        width="180"
      />
      <h3 class="mentors-item-h">Alex Lebedev</h3>
      <p class="mentors-item-p">3.5 years of experience</p>
    </li>
    <li class="mentors-list-items">
      <img
        class="mentors-img"
        srcset="
          src/img/mentors/girl2_mentor@1x.png 1x,
          src/img/mentors/girl2_mentor@2x.png 2x
        "
        src="src/img/mentors/girl2_mentor@1x.png"
        alt="Mia Dubrovska"
        width="180"
      />
      <h3 class="mentors-item-h">Mia Dubrovska</h3>
      <p class="mentors-item-p">2.0 years of experience</p>
    </li>
    <li class="mentors-list-items">
      <img
        class="mentors-img"
        srcset="
          src/img/mentors/boy2_mentor@1x.png 1x,
          src/img/mentors/boy2_mentor@2x.png 2x
        "
        src="src/img/mentors/boy2_mentor@1x.png"
        alt="Eliot Kovalev"
        width="180"
      />
      <h3 class="mentors-item-h">Eliot Kovalev</h3>
      <p class="mentors-item-p">4.0 years of experience</p>
    </li>
  </ul>
</section>
