<!--section class="customers">
        <div class="customers-container container">
          <h2 class="customers-text-title">What our Customers Say</h2>
          <p class="customer-text">
            Don't just take our word for it - see what our satisfied customers have to say
          </p>
          <ul class="customers-block">
            <li class="customers-card">
              <img src="./img/customers/Stars.png" alt="stars" class="stars" />
              <p class="customer-text-item">
                “The Best app I have used to order food in a while, so many options to choose from
                too, I would recommend to a freind, No questions asked”
              </p>
              <div class="avatar">-->

<section class="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item men">
        <div class="reviews-item-main">
          <div class="reviews-item-block">
            <img class="reviews-photo" src="" alt="men" />
            <div class="reviews-item-block-text">
              <h3 class="reviews-item-title men">Abraham Baker</h3>
              <span class="reviews-item-role">Student</span>
            </div>
            <img class="stars" src="" alt="stars" />
          </div>
        </div>
        <p class="reviews-text">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>

      <li class="reviews-item girl">
        <div class="reviews-item-main">
          <div class="reviews-item-block">
            <img class="reviews-photo" src="" alt="girl" />
            <div class="reviews-item-block-text">
              <h3 class="reviews-item-title girl">Amanda Lowery</h3>
              <span class="reviews-item-role">Student</span>
            </div>
            <img class="stars" src="" alt="stars" />
          </div>
        </div>
        <p class="reviews-text">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
