<section id="reviews" class="section-mt">
  <div class="reviews-container container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item men">
        <div class="reviews-item-main">
          <div class="reviews-item-block">
            <img
              class="reviews-photo"
              src="./img/reviews/user@1x.png"
              alt="men"
            />
            <div class="reviews-item-block-text">
              <h3 class="reviews-item-title men">Abraham Baker</h3>
              <span class="reviews-item-role">Student</span>
            </div>
            <div class="review-star-container">
              <ul class="star-list">
                <li class="star-item">
                  <svg class="star" width="16" height="15">
                    <use href="./img/icons/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="16" height="15">
                    <use href="./img/icons/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="16" height="15">
                    <use href="./img/icons/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="16" height="15">
                    <use href="./img/icons/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="16" height="15">
                    <use href="./img/icons/icons.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <p class="reviews-text">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>

      <li class="reviews-item girl">
        <div class="reviews-item-main">
          <div class="reviews-item-block">
            <img
              class="reviews-photo"
              src="./img/reviews/user1@1x.png"
              alt="girl"
            />
            <div class="reviews-item-block-text">
              <h3 class="reviews-item-title girl">Amanda Lowery</h3>
              <span class="reviews-item-role">Student</span>
            </div>
            <div class="review-star-container">
              <ul class="star-list">
                <li class="star-item">
                  <svg class="star" width="16" height="15">
                    <use href="./img/icons/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="16" height="15">
                    <use href="./img/icons/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="16" height="15">
                    <use href="./img/icons/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="16" height="15">
                    <use href="./img/icons/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="16" height="15">
                    <use href="./img/icons/icons.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <p class="reviews-text">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
