/* .about-title {
  display: block;
    margin-bottom: 16px;
  
  color: #fff;

  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.04em;
} */

.about-img-container {
  margin: 40px 0;
  display: block;
}
.about-photo {
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .about-item + .about-item {
    margin-top: 0;
  }
}
.about-list {
}
@media only screen and (min-width: 768px) {
  .about-list {
    max-width: 600px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
}
.about-text {
  /* display: flex; */
  justify-content: flex-end;
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25; /* 125% */
  letter-spacing: -0.02em;
}
.about-item + .about-item {
  margin-top: 20px;
}
/* .about-text1 {
    width: 314px;
    padding-left: 40px;
  }  
  .about-text2 {
    width: 314px;
  }   */
@media only screen and (min-width: 768px) {
  .about-item + .about-item {
    margin-top: 0;
  }
}
.about-item {
  /* text-align: center; */
}

.about-camera {
  display: flex;
  height: 560px;
}
@media only screen and (min-width: 1280px) {
  .about-content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-content-wrapper {
    max-width: 1240px;
    display: flex;
    align-items: center;
    align-items: stretch;
    gap: 50px;
    color: var(--white, #FFF);
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.2px;
letter-spacing: -0.02em;
  }
}
