.courses-wrapper {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .courses-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}

.courses-title {
  margin-bottom: 20px;
}

.courses-text {
  max-width: 335px;
  color: var(--white);
  font-size: 14px;
  line-height: 1.29;
}

@media only screen and (min-width: 768px) {
  .courses-text {
    max-width: 381px;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1280px) {
  .courses-text {
    max-width: 405px;
  }
}

@media only screen and (min-width: 1440px) {
  .courses-text {
    max-width: 565px;
  }
}

.courses-list {
  width: 100%;
  counter-reset: my-numbers 0;
}

@media only screen and (min-width: 768px) {
  .courses-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .courses-list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.courses-item {
  position: relative;
  counter-increment: my-numbers;
  width: 100%;
  padding: 28px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--fill-linear);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .courses-item {
    max-width: 342px;
    padding: 32px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .courses-item {
    max-width: 347px;
  }
  .courses-item:hover {
    box-shadow: 0 0 8px -1px var(--gray-light), 0 1px 1px #bea69e29,
      0 1px 6px #bea69e29;
  }
  .courses-item:hover .courses-link {
    background-color: var(--brown);
    stroke: var(--fill);
  }
}

@media only screen and (min-width: 1440px) {
  .courses-item {
    max-width: 400px;
  }
}

.courses-item::before {
  position: absolute;
  top: 28px;
  left: 28px;
  width: 18px;
  height: 18px;
  text-align: center;
  content: counter(my-numbers, decimal-leading-zero);
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  line-height: 1.29;
}

.courses-item:nth-child(-n + 9):before {
  content: counter(my-numbers, decimal-leading-zero);
}

@media only screen and (min-width: 768px) {
  .courses-item::before {
    top: 32px;
    left: 32px;
  }
}

.courses-item:last-child {
  margin-bottom: 0;
}

.courses-link-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .courses-link-wrapper {
    margin-bottom: 32px;
  }
}

.courses-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fill);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  stroke: #777777;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon {
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.courses-link:active > .svg-icon {
  transform: scale(1.3);
}

.courses-link:active {
  background-color: var(--brown);
  stroke: var(--fill);
}

@media only screen and (min-width: 1280px) {
  .courses-link:hover > .svg-icon,
  .courses-link:focus > .svg-icon {
    transform: scale(1.3);
  }

  .courses-link:hover,
  .courses-link:focus {
    box-shadow: 0 0 8px -1px var(--gray-light), 0 1px 1px #bea69e29,
      0 1px 6px #bea69e29;
  }
}

@media only screen and (min-width: 1280px) {
}

.courses-title-item {
  max-width: 279px;
  margin-bottom: 164px;
}

@media only screen and (min-width: 768px) {
  .courses-title-item {
    max-width: 265px;
    margin-bottom: 180px;
  }
}

@media only screen and (min-width: 1280px) {
  .courses-title-item {
    margin-bottom: 200px;
  }
}

.courses-text-item {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.29;
}

@media only screen and (min-width: 768px) {
  .courses-text-item {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.25;
  }
}
