@font-face {
  font-family: 'DM Sans';
  src: url('../font/DMSans-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans Italic';
  src: url('../font/DMSans-Italic.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
