/* Header-Hero-container  */

.header-hero-container {
  background-image: url('../img/header/background/graphic_mobile@1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 80px;
}

@media (min-resolution: 192dpi) {
  .header-hero-container {
    background-image: url('../img/header/background/graphic_mobile@2x.png');
  }
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .header-hero-container {
    background-image: url('../img/header/background/graphic_tablet@1x.png');
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .header-hero-container {
    background-image: url('../img/header/background/graphic_tablet@2x.png');
  }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  .header-hero-container {
    background-image: url('../img/header/background/graphic_desktop@1x.png');
    padding-bottom: 150px;
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .header-hero-container {
    background-image: url('../img/header/background/graphic_desktop@2x.png');
  }
}

/* Big Desktop */
@media only screen and (min-width: 1440px) {
  .header-hero-container {
    background-image: url('../img/header/background/graphic_big_desktop@1x.png');
  }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .header-hero-container {
    background-image: url('../img/header/background/graphic_big_desktop@2x.png');
  }
}

/* Header */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-nav {
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 20px;
  background-color: var(--black);
}

.header-menu,
.header .signup-btn {
  display: none;
}

.header-logo,
.header-logo-signup,
.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.header-logo {
  color: var(--white);
  padding: 15px 0;
  width: 127px;
}

.header-logo:hover > .header-logo-icon,
.header-logo:focus > .header-logo-icon {
  transform: scale(1.05);
}

.header-logo-icon,
.header-signup-icon {
  fill: currentColor;
}

.header-logo-icon {
  width: 100%;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left center;
}

.header-logo-signup {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--fill);
  color: #bea69e66;
  margin-left: auto;
  margin-right: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo-signup:hover,
.header-logo-signup:focus,
.header-logo-signup:active {
  color: var(--brown);
}

.header-btn {
  width: 32px;
  height: 22px;
  background-color: transparent;
  border: none;
  color: var(--white);
  padding: 0;
}

.header-btn-icon {
  stroke: currentColor;
  width: 100%;
  height: 100%;
}

/* Tablet */

@media only screen and (min-width: 768px) {
  .header .container {
    display: flex;
  }

  .header-nav {
    flex-basis: 100%;
    margin-right: 14px;
  }

  .header .signup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .header {
    padding-bottom: 40px;
  }

  .header-logo-signup {
    display: none;
  }

  .header-btn {
    margin-left: auto;
    width: 40px;
    height: 28px;
  }

  .header-logo {
    width: 123px;
    padding: 20px 0;
  }
}

/* Desktop */

@media only screen and (min-width: 1280px) {
  .header-btn {
    display: none;
  }

  .header-menu {
    display: flex;
    gap: 28px;
    margin-left: auto;
  }

  .header-menu-link {
    display: block;
    padding: 20px 0;
    color: var(--white);
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    scroll-behavior: smooth;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--brown);
    font-weight: 700;
  }

  .header-nav {
    padding: 0 50px;
    margin-right: 20px;
  }

  .header {
    padding-bottom: 80px;
  }
}

/* Big Desktop */

@media only screen and (min-width: 1440px) {
  .header-menu {
    gap: 40px;
  }
}

/* Backdrop */

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #12121266;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

/* Mobile menu */

.mobile-menu {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  height: 100vh;
  width: 218px;
  padding-top: 180px;
  padding-left: 20px;
  background-color: var(--brown);
  background-image: image-set(
    '../img/header/menu/header_menu_cam_mobile@1x.webp' type('image/webp') 1x,
    '../img/header/menu/header_menu_cam_mobile@2x.webp' type('image/webp') 2x,
    '../img/header/menu/header_menu_cam_mobile@1x.jpg' type('image/jpg') 1x,
    '../img/header/menu/header_menu_cam_mobile@2x.jpg' type('image/jpg') 2x
  );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}

.menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-btn-icon {
  stroke: currentColor;
  width: 100%;
  height: 100%;
}

.mobile-menu-link {
  display: block;
  color: var(--black);
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  scroll-behavior: smooth;
  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav > .mobile-menu-item:not(:last-child) > .mobile-menu-link {
  padding-bottom: 20px;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus,
.mobile-menu-link:active,
.mobile-menu-link.active {
  font-weight: 700;
}

/* Tablet */

@media only screen and (min-width: 768px) {
  .mobile-menu {
    width: 480px;
    padding-top: 232px;
    padding-left: 64px;
    background-image: image-set(
      '../img/header/menu/header_menu_cam_tablet@1x.webp' type('image/webp') 1x,
      '../img/header/menu/header_menu_cam_tablet@2x.webp' type('image/webp') 2x,
      '../img/header/menu/header_menu_cam_tablet@1x.jpg' type('image/jpg') 1x,
      '../img/header/menu/header_menu_cam_tablet@2x.jpg' type('image/jpg') 2x
    );
  }

  .mobile-menu-nav > .mobile-menu-item:not(:last-child) > .mobile-menu-link {
    padding-bottom: 28px;
  }

  .menu-btn {
    width: 40px;
    height: 40px;
    right: 32px;
  }
}
