.hero-container {
  border-radius: 30px;
  background: var(--fill);
}
@media only screen and (min-width: 1280px) {
  .hero-container {
  }
}
.hero-title {
  max-width: 295px;
  padding-top: 40px;
  margin-bottom: 20px;
  padding-left: 20px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 517px;
    padding-left: 32px;
    padding-top: 64px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-title {
    max-width: 563px;
    padding-left: 50px;
    padding-top: 80px;
  }
}
.hero-text {
  max-width: 295px;
  color: var(--white);
  font-size: 14px;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  padding-left: 20px;
}
@media only screen and (min-width: 768px) {
  .hero-text {
    max-width: 418px;
    padding-left: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-text {
    margin-bottom: 137px;
    padding-left: 50px;
  }
}
.hero-block {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding-left: 20px;
}
@media only screen and (min-width: 768px) {
  .hero-block {
    padding-left: 32px;
  }
  .hero-users {
    display: flex;
  }
  .hero-users-item:last-child {
    margin-right: 12px;
  }
  .hero-user-img {
    width: 54px;
    height: 54px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-block {
    padding-left: 50px;
    padding-bottom: 50px;
  }
}
.hero-users-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.hero-users-item {
  margin-right: -13px;
}
.hero-users-item:nth-child(1) {
  z-index: 2;
}
.hero-users-item:nth-child(2) {
  z-index: 1;
}
.hero-users-item:nth-child(3) {
  z-index: 0;
}

.hero-user-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  max-width: 89px;
  color: var(--white);
  font-size: 14px;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.04em;
}
@media only screen and (min-width: 768px) {
  .hero-user-link {
    max-width: 82px;
    flex-direction: column;
    gap: 8px;
    justify-content: start;
    align-items: start;
  }
}
.hero-user-icon {
  fill: var(--white);
}
.hero-reviews {
  display: flex;
  gap: 12px;
}

.hero-icon-wrapper {
  width: 44px;
  height: 44px;
  background: var(--brown);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .hero-icon-wrapper {
    width: 50px;
    height: 50px;
  }
}
.hero-reviews-icon {
  fill: none;
  stroke: var(--black);
  stroke-width: 2;
}
.hero-rewtext-wrapper {
  display: flex;
  flex-direction: column;
}
.hero-reviews-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.04em;
  margin-bottom: 4px;
}
@media only screen and (min-width: 768px) {
  .hero-reviews-text {
    margin-bottom: 8px;
  }
}
.hero-reviews-bold {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12; /* 112.5% */
  letter-spacing: -0.04em;
}
.hero-img {
  margin: 0 auto;
  margin-top: 30px;
}
@media only screen and (min-width: 1280px) {
  .hero-img {
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 397px;
  }
  .hero-container {
    position: relative;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-img {
    position: absolute;
    bottom: 0;
    right: 100px;
  }
}
