.review {
  padding-bottom: 80px;
}

.reviews-title {
  color: var(--white);
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.12px;
  max-width: 100px;
  height: 32px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .reviews-title {
    max-width: 171px;
    height: 54px;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -1.92px;
    margin-bottom: 50px;
  }
}

.reviews-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.reviews-item {
  border-radius: 12px;
  border: 1px solid var(--gray);
  padding: 20px;
}

.reviews-item.girl {
  display: none;
}

@media only screen and (min-width: 768px) {
  .review {
    padding-bottom: 100px;
  }

  .reviews-item {
    position: relative;
  }

  .reviews-item-main {
    margin-bottom: 20px;
  }
  
  .review-star-container {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .review {
    padding-bottom: 150px;
  }

  .reviews-item.girl {
    display: block;
  }
  
  .reviews-item {
    width: calc((100% - 20px * 1) / 2);
    min-height: 216px;
    gap: 20px;
  }
  
  .reviews-item-title.girl {
    max-width: 152px;
  }
}

.reviews-item-main {
  display: flex;
}

.reviews-photo {
  margin-right: 10px;
}

.reviews-item-title {
  max-width: 145px;
  margin-bottom: 4px;
  color: var(--white);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media only screen and (min-width: 768px) {
  .reviews-item-title {
    height: 28px;
    line-height: 28px;
  }
}

.reviews-item-role {
  max-width: 43px;
  height: 16px;
  color: var(--gray-light);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.24px;
}

@media only screen and (min-width: 768px) {
  .reviews-item-role {
    max-width: 51px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
  }
}

.review-star-container {
  margin-left: 66px;
  margin-bottom: 20px;
}

.star-list {
  display: flex;
  align-items: center;
}

.star-item {
  padding: 2px;
}

.star {
  fill: var(--brown);
}

.star.dark {
  fill: var(--dark);
}

.reviews-text {
  max-width: 295px;
  /*height: 108px;*/
  color: var(--white);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

@media only screen and (min-width: 768px) {
  .reviews-text {
    max-width: 600px;
    /*height: 80px;*/
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-text {
    max-width: 490px;
  }
}
